node_modules/
doctor/migrations/*
doctor/__pycache__/*
db.sqlite3
≈patients/migrations/*
PediAssist/__pycache__/
masters/__pycache__/
patients/__pycache__/
patients/migrations/
doctor/__pycache__/

**/*.pyc
__pycache__