{% include 'first_app/header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

	<link rel="stylesheet" type="text/css" href="{% static "/css/sidebar.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "/css/fonts.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "/css/newpatient.css" %}">

    <div class="page-content">
		<div class="wrapper left sidebar">
			{% include 'first_app/patient_list.html' %}
		</div>
		<div class="wrapper right content">
			<div class="welcome-container">
				{% include 'first_app/patient-info.html' %}
			</div>
			<div class="new-patient-registration-container">
			</div>
			<div class="new-patient-history-container hidden">
			</div>
		</div>
		<div class="clearfix"></div>
    </div>

	<input type="text" class="prototype hidden">

	<div class="modal_overlay hidden">
		<div class="modal_content simple vaccination-modal">
			<div class="close_modal">
				<span><img src="/static/images/close-icon.png" alt="Close"></span>
			</div>
			<h4 class="modal-title" style="margin-top:0;"><span data-url="/masters/sign/create/" style="font-weight:bold;" class="list-name">Add Vaccinations</span></h4>
			<div class="modal_body">
				Vaccinations Modal Content
			</div>
		</div>
	</div>

	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
	<script src="{% static 'js/newpatient.js' %}"></script>
	<script src="{% static 'js/moment.js' %}"></script>
	<script src="{% static 'js/moment-diff.js' %}"></script>
	<script src="{% static 'js/utilities.js' %}"></script>
{% include 'first_app/footer.html' %}
