
    {% csrf_token %}
    <div class="patient-info-container hidden">
      <div class="patient-container">
          <div class="patient-header">
              <div class="info row-container">
                  <div class="one-fifth row-item">
                      <p class="subtitle">Name:</p>
                      <p class="value"> {{patient.first_name}} </span></p>
                  </div>
                  <div class="one-fifth row-item">
                      <p class="subtitle">Number:</p>
                      <p class="value"> {{patient.id}} </span></p>
                  </div>
                  <div class="one-fifth row-item">
                      <p class="subtitle">Age:</p>
                      <p class="value">{{ age }}</span></p>
                  </div>
                  <div class="one-fifth row-item">
                          <p class="subtitle">Visit Date: </p>
                          <input type="date" class="patient-visit-date">

                      </div>
                  <div class="one-fifth row-item">
                      <p class="subtitle">BMI:</p>
                      <p class="value">{{ bmi }}</span></p>
                  </div>
              </div>
              <div class="meta-info row-container">
                  <div class="one-fifth row-item">
                      <p class="subtitle">Weight: </p>
                      <input type="text" class="patient-weight"  placeholder="{{ patient.last_weight }} kg">

                  </div>
                  <div class="one-fifth row-item">
                      <p class="subtitle">Height: </p>
                      <input type="text" class="patient-height" placeholder="{{ patient.last_height }} cm">

                  </div>
                  <div class="one-fifth row-item">
                      <p class="subtitle">Head Circumference:</p>
                      <input type="text" class="patient-head-circumference" placeholder="{{ patient.last_headcm }} cm">
                  </div>
                  <div class="one-fifth row-item">
                      <p class="subtitle">BP Systolic:</p>
                      <input type="text" class="patient-bp-systolic">

                  </div>
                  <div class="one-fifth row-item">
                      <p class="subtitle">BP Diastolic:</p>
                      <input type="text" class="patient-bp-diastolic">
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
          <div class="patient-body row-container">
                  <div class="row-item one-third diagnosis">
                      <h4>
                          <span class="title left">Diagnosis</span>
                          <span class="action right" data-placeholder-name="Add new Diagnosis">+ Add new</span>
                          <div class="clearfix"></div>
                      </h4>
                      <div class="input-field-container">
                              <input type="text" placeholder="Add new Diagnosis">
                      </div>
                  </div>
                  <div class="row-item one-third signs">
                      <h4>
                          <span class="title left">Signs</span>
                          <span class="action right" data-placeholder-name="Add new Signs">+ Add new</span>
                          <div class="clearfix"></div>
                      </h4>
                      <div class="input-field-container">
                          <input type="text" placeholder="Add new Signs">
                      </div>
                  </div>
                  <div class="row-item one-third symptoms">
                      <h4>
                          <span class="title left">Symptoms</span>
                          <span class="action right" data-placeholder-name="Add new Symptoms">+ Add new</span>
                          <div class="clearfix"></div>
                      </h4>
                      <div class="input-field-container">
                              <input type="text" placeholder="Add new Symptoms">
                      </div>
                  </div>
                  <div class="row-item one-half vaccinations">
                      <h4>
                          <span class="title left">Vaccination</span>
                          <span class="action right vaccination-opener" data-placeholder-name="Add new Vaccination" data-url="{% url 'vaccination_create' %}">+ Add new</span>
                          <div class="clearfix"></div>
                      </h4>
                      <div class="input-field-container">
                              <input type="text" placeholder="Add new Vaccination">
                      </div>
                  </div>
                  <div class="row-item one-half treatment">
                      <h4>
                          <span class="title left">Treatment</span>
                          <span class="action right" data-placeholder-name="Add new Treatment">+ Add new</span>
                          <div class="clearfix"></div>
                      </h4>
                      <div class="input-field-container">
                              <input type="text" placeholder="Add new Treatment">
                      </div>
                  </div>
          </div>
          <div class="patient-controller ">


                  <div class="input-fields">
                      <div class="row">
                          <div class="one-fifth row-item">
                              <p class="subtitle">Vaccination Charges:</p>
                              <input type="text" value="0" class="vaccination-charge charge-input">
                          </div>
                          <div class="one-fifth row-item">
                              <p class="subtitle">Consultation Charges:</p>
                              <input type="text" value="0" class="consultation-charge charge-input">
                          </div>
                          <div class="one-fifth row-item">
                              <p class="subtitle">Total Charges:</p>
                              <input type="text" value="0" class="total-charge charge-input">
                          </div>
                          <button class="button right save-form green">Save Details</button>
                          <div class="clearfix"></div>
                      </div>

                  </div>

          </div>
      </div>

      <div class="action-container">

          <a href="javascript:void(0);">

          <div class="action-wrapper">
              <div class="action-block vaccination"><p>vaccination</p>
              </div>
          </div>
      </a>
          <a href="javascript:void(0);">

          <div class="action-wrapper">
              <div class="action-block visit-history"><p>visit history</p>
              </div>
          </div>
      </a>
          <a href="javascript:void(0);">

          <div class="action-wrapper">
              <div class="action-block birth-history"><p>birth history</p>
              </div>
          </div>
      </a>
          <a href="javascript:void(0);">

          <div class="action-wrapper">
              <div class="action-block milestones"><p>milestones</p>
              </div>
          </div>
      </a>
          <a href="javascript:void(0);">

          <div class="action-wrapper">
              <div class="action-block update"><p>update</p>
              </div>
          </div>
      </a>
          <a href="javascript:void(0);">

          <div class="action-wrapper">
              <div class="action-block print"><p>print</p>
              </div>
          </div>
      </a>
      </div>
</div>