.row-container {
  display: block;
  width: 100%;
  font-size: 0; }
  .row-container .row-item {
    display: inline-block;
    vertical-align: top;
    font-size: initial;
    padding: 5px; }
  .row-container .one-full {
    width: 100%; }
  .row-container .one-half {
    width: 50%; }
  .row-container .one-third {
    width: 33.333%; }
  .row-container .one-fourth {
    width: 25%; }
  .row-container .one-fifth {
    width: 20%; }
  .row-container .one-sixth {
    width: 16.666%; }
  .row-container .one-seventh {
    width: 14.2857%; }
  .row-container .one-eighth {
    width: 12.5%; }
