.patient-info-container .patient-container {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #eaeaea; }

.patient-info-container .patient-header {
  padding-bottom: 10px; }

.patient-info-container .patient-body {
  padding-top: 15px;
  border-top: 1px solid #eaeaea; }
  .patient-info-container .patient-body .row-item {
    margin-bottom: 15px; }
    .patient-info-container .patient-body .row-item h4 {
      margin: 0;
      background-color: #f3fbfb;
      font-size: 16px;
      padding: 5px 10px;
      border: 1px solid #eaeaea; }
    .patient-info-container .patient-body .row-item .input-field-container {
      min-height: 85px;
      max-height: 85px;
      overflow-y: scroll; }
      .patient-info-container .patient-body .row-item .input-field-container input {
        padding: 12px;
        border-bottom: 1px solid #e8e8e8;
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #e8e8e8;
        font-size: 14px;
        transition: all 0.2s ease-in-out; }
        .patient-info-container .patient-body .row-item .input-field-container input:focus {
          border-color: #67A2FF;
          outline: 0; }

.patient-info-container p {
  color: #4b4b4b;
  line-height: 1.5; }
  .patient-info-container p.subtitle {
    font-size: 12px;
    color: #808080;
    letter-spacing: 0.5px; }
  .patient-info-container p.value {
    min-height: 24px; }

.patient-info-container h4 {
  font-size: 18px;
  color: #2b2b2b; }
  .patient-info-container h4 span.title {
    text-transform: uppercase; }
  .patient-info-container h4 span.action {
    cursor: pointer;
    font-size: 12px;
    color: #4285f4;
    text-transform: capitalize;
    position: relative;
    top: 4px; }

.patient-info-container .action-container {
  margin: 50px 0 0 0;
  font-size: 0; }
  .patient-info-container .action-container .action-wrapper {
    display: inline-block;
    margin: 0;
    width: 20%;
    text-align: center;
    font-size: inherit; }
  .patient-info-container .action-container .action-block {
    background-color: #ccc;
    width: 120px;
    display: inline-block;
    height: 120px;
    display: table;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer; }
    .patient-info-container .action-container .action-block.vaccination {
      background: #4285f4; }
    .patient-info-container .action-container .action-block.checkup {
      background: #34a853; }
    .patient-info-container .action-container .action-block.growth {
      background: #fbbc05; }
    .patient-info-container .action-container .action-block.diagnosis {
      background: #ea4335; }
    .patient-info-container .action-container .action-block p {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-family: 'Droid Sans';
      font-size: 15px;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      color: #FFF; }

button {
  margin-top: 10px; }
  button .button.green {
    background-color: #5bafac; }

.new-patient {
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 13px;
  color: #FFF;
  border: 1px solid transparent;
  background-color: #5bafac;
  display: inline-block;
  margin-top: 10px;
  margin-left: 0;
  border-radius: 0; }
  .new-patient:active {
    background-color: #287C79; }
