.new-patient-registration-container input, .new-patient-registration-container textarea, .new-patient-registration-container select, .new-patient-history-container input, .new-patient-history-container textarea, .new-patient-history-container select {
  background-color: #fff;
  padding: 10px;
  border: 0;
  border-bottom: 2px solid #e8e8e8;
  display: inline-block;
  vertical-align: top;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #4b4b4b; }
  .new-patient-registration-container input:focus, .new-patient-registration-container textarea:focus, .new-patient-registration-container select:focus, .new-patient-history-container input:focus, .new-patient-history-container textarea:focus, .new-patient-history-container select:focus {
    outline: none;
    border-color: #67A2FF; }

.new-patient-registration-container input, .new-patient-history-container input {
  width: 170px; }

.new-patient-registration-container select, .new-patient-history-container select {
  height: 38px;
  min-width: 120px; }
  .new-patient-registration-container select:focus, .new-patient-history-container select:focus {
    border-color: #e8e8e8; }

.new-patient-registration-container textarea, .new-patient-history-container textarea {
  width: 540px;
  height: 100px;
  resize: none; }

.new-patient-registration-container .birth-history, .new-patient-history-container .birth-history {
  background-color: #67A2FF;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 13px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  margin: 0; }
  .new-patient-registration-container .birth-history:active, .new-patient-history-container .birth-history:active {
    background-color: #346FD9; }
