$header-background-color : #346FD9;

$color-white : #FFF;
$color-black:#2b2b2b;

$shadow-color:rgba(0,0,0,0.2);
$shadow-color-dark:rgba(0,0,0,0.5);

$header-link-active-color:#1f8f75;

$footer-link-color:#c1c1c1;

$body-background-color:#F7F7F7;
$highlight-background-color:#f3fbfb;

$border-color-base:#e8e8e8;

$border-color-dark:#d8d5d5;

$link-color:#155d9a;

$color-green-active:#149075;

$border-color-active:#149075;
$border-color-error:#eb1c2a;

$color-error: #ec1c2a;

$color-grey-active:#8d8d8d;

$user-online-indicator-color:#6dd51e;
$user-offline-indicator-color:#cccccc;

$profile-slider-title-color :#0c9176;

$candidate-title-color:#0c9176;

$candidate-listing-header-background-color:#f7f8fa;

$mobile-content-block-header-color:#F7F8FA;

$candidate-link-color:#155d9a;
$candidate-skill-background-color:#f1efef;
$candidate-skill-text-color:#6e6e6e;

$sticker-text-color:#555;

$options-list-background-color:#faf9f9;

$options-list-link-color:#1a5e98;

$inline-link-color:#149075;

$extra-info-color:#888;
$button-color-green:#1f8f75;
$button-color-green-triggered:#005D42;
$button-color-red:#af595a;

$resume-comment-highlight-color: #cfebeb;

$resume-profile-snapshot-background:#f9f9f9;

$resume-background-color: #C0C0C0;

$mobile-background-color:#f7f7f7;
$mobile-highlight-background-color:#f3fbfb;
$mobile-menu-background-color:#26252a;
$mobile-menu-border-color:#2E2E2E;

$mobile-profile-section-background:#403f44;

$aside-wrapper-background:#f9f9f9;

$list-item-color:#5d5d5d;
$button-border-color:#8f8a8a;

/* [Recruiter_HomePage : ] */
	$intro-subtitle-color:#5b5b5b;
	$login-container-background: #fafafa;
	$login-button-color:#0c9175;

	$landing-title-color:#0c9176;

	$landing-highlight-background: #fafafa;
/* [/Recruiter_HomePage : ] */