$primary-font : 'Droid Sans';
$logo-font : 'Comfortaa';
$logoFontName : "Comfortaa";

$logoFontSize : 30px;
$logoBylineFontSize : 14px;

$base-font-size:14px;

$page-subtitle-font-size:18px;

$logo-font-size-mobile: 21px;
$logo-byline-font-size-mobile:11px;
$logo-tagline-font-size-mobile:9px;

$page-title-font-size:18px;

$top-button-font-size:16px;

$slider-title-font-size:15px;

$skill-item-font-size:13px;

$candidate-name-font-size:15px;

$candidate-skill-font-size:14px;

$options-list-font-size:13px;

$filter-item-font-size:14px;

$sticker-font-size:10px;

$candidate-subtitle-font-size:16px;

$view-resume-section-title-size:16px;
$view-resume-byline-font-size:13px;

$view-resume-listing-font-size:15px;

$resume-listing-font-size:15px;

$search-query-font-size:16px;

$form-title-font-size:26px;
$form-subtitle-font-size:18px;

$modal-title-font-size:24px;
$modal_heading-font-size: 18px;
$modal-content-font-size: 14px;

/* [Recruiter_HomePage : ] */

  $login-title-font-size:24px;
  $landing-title-font-size:28px;
  $login-input-font-size:16px;
  $landing-subtitle-font-size:16px;
/* [/Recruiter_HomePage : ] */