/* [Recruiter_HomePage : ] */
/* [/Recruiter_HomePage : ] */
/* [Recruiter_HomePage : ] */
/* [/Recruiter_HomePage : ] */
.footer {
  width: 100%;
  background: #346FD9;
  padding: 10px;
  font-family: "Droid Sans"; }
  .footer .footer-column-container {
    display: block;
    width: 75%;
    font-size: 0;
    margin: 20px auto; }
    .footer .footer-column-container .footer-column {
      display: inline-block;
      width: 25%;
      vertical-align: top; }
      .footer .footer-column-container .footer-column .footer-links-list {
        padding: 0;
        list-style: none; }
        .footer .footer-column-container .footer-column .footer-links-list .footer-link-item {
          padding: 5px 10px; }
          .footer .footer-column-container .footer-column .footer-links-list .footer-link-item a {
            font-size: 14px;
            text-decoration: none;
            color: #c1c1c1; }
  .footer .footer-social-media {
    text-align: center;
    margin: 20px 0; }
    .footer .footer-social-media .social-media-icon {
      display: inline-block;
      margin: 0 10px; }
  .footer .footer-copy-text p {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #c1c1c1; }
  .footer ul.mini-footer {
    list-style: none;
    padding: 0;
    margin: 0; }
    .footer ul.mini-footer li {
      display: inline-block;
      margin: 0 10px; }
      .footer ul.mini-footer li a {
        font-size: 14px;
        color: #c1c1c1; }
  .footer p {
    margin: 0; }

@media only screen and (max-width: 768px) {
  .footer nav .menu li.menu_link {
    padding: 10px; }
    .footer nav .menu li.menu_link a {
      font-size: 12px; }
  .footer .footer-column-container {
    width: 100%;
    margin: 0; }
    .footer .footer-column-container .footer-column {
      width: 100%;
      margin: 15px 0; }
      .footer .footer-column-container .footer-column ul li {
        display: inline-block; }
      .footer .footer-column-container .footer-column:last-child {
        margin: 0; }
      .footer .footer-column-container .footer-column.platforms {
        margin: 10px 0 0 0; }
        .footer .footer-column-container .footer-column.platforms ul li {
          width: 100%;
          margin-bottom: 20px; }
          .footer .footer-column-container .footer-column.platforms ul li:last-child {
            margin: 0; }
  .footer .footer-social-media {
    text-align: left; }
  .footer .footer-copy-text p {
    text-align: left;
    padding: 0 10px; } }
