.row-container {
    display:block;
    width:100%;
    font-size:0;

    .row-item {
        display: inline-block;
        vertical-align: top;
        font-size: initial;
        padding: 5px;
    }
    .one-full {
        width:100%;
    }
    .one-half {
        width:50%;
    }
    .one-third {
        width:33.333%;
    }
    .one-fourth {
        width:25%;
    }
    .one-fifth {
        width:20%;
    }
    .one-sixth {
        width:16.666%;
    }
    .one-seventh {
        width:14.2857%;
    }
    .one-eighth {
        width:12.5%;
    }
}