{% extends 'masters/base.html' %}
{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/visit.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Visits</h1>




  <table class="table" id="visit-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Head Circumference</th>
        <th>Charges</th>
        <th>Vaccinations</th>
    </thead>
    <tbody>
      {% include 'masters/includes/partial_visit_list.html' %}

    </tbody>
  </table>

  <div class="modal fade" id="modal-visit">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>


{% endblock %}
